@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: Roboto, serif;
}

body {
  /*noinspection CssUnknownTarget*/
	background-image: url('/assets/background.webp');
}

.category_display{
  width: 200px;

  padding: 5px;

}
.img_container{
  border-radius: 15px;
  overflow: hidden;
}

.img_container > img{
  text-align: center;
  width: max-content;
  animation: img-zoom-out 0.5s;
  transform: scale(1);
}

@keyframes img-zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes img-zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*Desktop View*/
@media screen and (min-width: 501px) {
  .container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 99vw;
    align-items: center;
  }

  .img_container > img:hover{
    width: max-content;
    animation: img-zoom-in 0.5s;
    transform: scale(1.2);
  }

}

/*Mobile View*/
@media screen and (max-width: 500px) {

  .container{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .img_container > img:hover{
    width: max-content;
  }
}
